# IDE
.idea
.vscode

# OS
.directory
.byebug_history
._.DS_Store
.DS_Store
*.swp


log/*
tmp/*
!log/.keep
!tmp/.keep

# Rails
master.key
examples.txt
.rbenv-vars

.bundle
/public/assets
/spec/examples.txt
/coverage

