<div id="<%= dom_id page %>">
  <p>
    <strong>Content:</strong>
    <%= page.content %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= page.position %>
  </p>

  <p>
    <strong>Is published:</strong>
    <%= page.is_published %>
  </p>

</div>
